.container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  background-color: cornflowerblue;
  margin: 5px;
}

.btn {
  background-color: grey;
}


.example-form-field {
  width: 300px;
}